@page
@model ConsolasExito.App.Presentacion.Pages.CrudEmpleado.IndexModel

@{
    ViewData["Title"] = "Empleados";
}

<h1>Empleados</h1>

<p>
    <a asp-page="Create">Crear nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Empleado[0].Cedula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Empleado[0].Codigo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Empleado[0].Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Empleado[0].Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Empleado[0].Sucursal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Empleado[0].Usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Empleado[0].Contrasenna)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Empleado[0].TipoEmpleado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Empleado) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cedula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sucursal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contrasenna)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoEmpleado)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Detalles</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
