@page
@model ConsolasExito.App.Presentacion.Pages.CrudConsola.DeleteModel

@{
    ViewData["Title"] = "Borrar";
}

<h1>Borrar</h1>

<h3>Seguro que desea borrar este producto?</h3>
<div>
    <h4>Consola</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Consola.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Consola.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Consola.Version)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Consola.Version)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Consola.Fabricante)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Consola.Fabricante)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Consola.CapacidadAlmacenamiento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Consola.CapacidadAlmacenamiento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Consola.TipoAlmacenamiento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Consola.TipoAlmacenamiento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Consola.VelocidadRam)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Consola.VelocidadRam)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Consola.VelocidadProcesamiento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Consola.VelocidadProcesamiento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Consola.NumeroControles)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Consola.NumeroControles)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Consola.FechaCompra)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Consola.FechaCompra)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Consola.FechaVenta)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Consola.FechaVenta)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Consola.PrecioCompra)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Consola.PrecioCompra)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Consola.PrecioVenta)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Consola.PrecioVenta)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Consola.TipoProducto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Consola.TipoProducto)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Consola.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Volver a la lista</a>
    </form>
</div>
