@page
@model ConsolasExito.App.Presentacion.Pages.CrudControl.IndexModel

@{
    ViewData["Title"] = "Controles";
}
<!-- Responsive -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--Fuente de letra: Montserrat-->
<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>


<link rel="stylesheet" href="~/css/index.css" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />


<body id="base_de_datos">
    <img id="logo" src="~/img/logo.png" class="img-fluid" onclick="location.href='../../Index'">
    <h1 id="Titulo_base_datos">Controles</h1>

    <p>
        <form>
            <a type="button"  asp-page="Create">
                <input id="button_Comprar" class="btn btn-outline-info" type="button" value="Comprar control">
            </a>
        </form>
    </p>
    <div class="table-responsive">
        <table class="table table-hover table-striped">
            <thead>
                <tr class="table-light">
                    <th>
                        @Html.DisplayNameFor(model => model.Control[0].TipoControl)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Control[0].FechaCompra)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Control[0].FechaVenta)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Control[0].PrecioCompra)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Control[0].PrecioVenta)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Control[0].TipoProducto)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
        @foreach (var item in Model.Control) {
                <tr>
                    <td class="table-warning">
                        @Html.DisplayFor(modelItem => item.TipoControl)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaCompra)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaVenta)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PrecioCompra)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PrecioVenta)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TipoProducto)
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.Id" class="button_BD btn-outline-success">Editar</a>
                        <a asp-page="./Details" asp-route-id="@item.Id" class="button_BD btn-outline-primary">Detalles</a>
                        <a asp-page="./Delete" asp-route-id="@item.Id" class="button_BD btn-outline-danger">Borrar</a>
                    </td>
                </tr>
        }
            </tbody>
        </table>
    </div>
</body>
