@page
@model ConsolasExito.App.Presentacion.Pages.CrudVideoJuego.DeleteModel

@{
    ViewData["Title"] = "Borrar";
}

<h1>Borrar</h1>

<h3>Seguro que desea borrar este producto?</h3>
<div>
    <h4>VideoJuego</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VideoJuego.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VideoJuego.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VideoJuego.Version)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VideoJuego.Version)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VideoJuego.Fabricante)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VideoJuego.Fabricante)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VideoJuego.EsMultiPlataforma)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VideoJuego.EsMultiPlataforma)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VideoJuego.FechaCompra)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VideoJuego.FechaCompra)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VideoJuego.FechaVenta)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VideoJuego.FechaVenta)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VideoJuego.PrecioCompra)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VideoJuego.PrecioCompra)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VideoJuego.PrecioVenta)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VideoJuego.PrecioVenta)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VideoJuego.TipoProducto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VideoJuego.TipoProducto)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="VideoJuego.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Volver a la lista</a>
    </form>
</div>
